p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 20px;
}
.profile {
    width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    vertical-align: top;
    margin-right: 15px;
}
.profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 12px;
}
.name {
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
    margin-bottom: 5px;
}
.mutual-friends-row {
    display: grid;
    grid-template-columns: 35px 1fr;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 10px;
}
.mutual-friends-picture {
    height: 28px;
    width: 28px;
    object-fit: cover;
    border-radius: 14px;
    vertical-align: middle;
    margin-right: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.mutual-friends-picture:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
.mutual-friends {
    color: rgb(100, 100, 100);
    margin-right: 20px;
    margin-top: 5px;
}
.add-friend-button {
    background-color: rgb(24, 119, 242);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .add-friend-button:hover{
      transform: scale(1.05);
      transition: 0.5s ease-in-out;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-picture-follow {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 15px;
    cursor: pointer;
  }
  .profile-picture-follow:hover{
      transform: scale(1.1);
      transition: 0.5s ease-in-out;
  }
  
  .info {
    width: 200px;
  }
  
  .name {
    font-weight: bold;
    margin-bottom: 3px;
  }
  
  .handle {
    color: rgb(150, 150, 150);
    margin-bottom: 5px;
  }
  
  .category {
    color: rgb(150, 150, 150);
    font-size: 14px;
  }
  
  .follow-button {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    cursor: pointer;
  }
 .follow-button:hover{
     transform: scale(1.1);
     transition: 0.5s ease-in-out;
 }

.project-1{
    margin-left: 20px;
    margin-right: 300px;
    float: left;
}
.project-2{
    padding: 50px;
}